@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background: #071021;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

/* small helper */
.bg-columnBackground {
  @apply bg-gray-600;
}
.bg-main {
  @apply bg-[#071021];
}
